article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: "lucida grande", verdana, sans-serif; color: #222; }


a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

#header { padding: 10px 10px 0 5px;  }
#header h1 { font: 1.6em Tahoma, sans-serif;  font-weight: normal; margin: 0; }

#nav { overflow: auto; }

#list { margin: 10px 0 0 0; padding: 0; }
#list li { float:left; list-style: none; margin-right: 4px;}
#list a {
    display: block;
    padding: 0.5em 0.7em;
    color:#0124BC;
    background: #ccc;
    text-decoration: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#list li:first-child a { padding:0.5em 2em; }
#list a:hover { background: #ffbf2d; color: #FFF; }
#list li.active a { background: #404C7D; color: #FFF; }

#q { padding: 0.1em; font-size:1.2em; background: #D2DAFF; /*#EEDEF5;*/ border: none; }

#main { clear:both; padding: 10px 0 10px 5px; }

.highlight, td.match { background: #ffbf2d; color: #000; }

.reporttable { }

thead { background: #404C7D; /*#745F7E; #8f7c98;*/ }
thead td { color:#fff; font-size: 110%; font-weight: bold; }
tr { border-bottom: 1px solid #ccc;}
td { padding: 0.25em; border: 1px solid #ccc; }
td:nth-child(1) { font-size: 100%; font-weight: bold; }
tbody td { padding: 0.25em 0 0.2em 0.25em; }
tbody tr.even { background: #EEE; }
tbody tr.desk { border-top: 2px solid #BABCC4; }
.librarian { background: url("corner.png") no-repeat scroll left top transparent; }
tbody tr:hover { background: #FFD574 !important; }
/*tbody tr:nth-child(2n) { background: #EEE; }*/

#footer { padding: 1.5em; background: #CCC; }